@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}

.App h2 {
  font-size: 2em;
  margin-bottom: 25px;
}

.App-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
}

.App-header > div {
  margin: 0 10px;
  margin-bottom: 10px;
  min-height: 80px;
  background-color: #29ac00 !important;
  width: 160px;
  height: 85px;
}

.App-header > div:hover {
  background: #098300 !important;
}

.App-header > div > div > p {
  color: white !important;
}

.App-header > div > div > h2 {
  color: white !important;
  font-size: 1.1em;
  margin-top: 10px;
}

.order-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80%;
}

.trades {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trades h3 {
  font-size: 2.5em;
  margin: 15px 0;
}

.trades ul {
  list-style: none;
  font-size: 1.2rem;
}

.download {
  font-style: normal;
  text-align: center;
  border: medium none;
  text-decoration: none;
  -webkit-transition: all 0.2s ease 0s, font-size 0s ease 0s;
  transition: all 0.2s ease 0s, font-size 0s ease 0s;
  cursor: pointer;
  font-size: 14px;
  border-radius: 26px;
  min-height: 40px;
  font-weight: bold;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: white;
  -webkit-box-shadow: rgba(41, 172, 0, 0.5) 0 2px 6px;
          box-shadow: rgba(41, 172, 0, 0.5) 0 2px 6px;
  background: #29ac00 none repeat scroll 0% 0%;
  padding: 12px 24px;
}

.download:hover {
  color: #f8f9fc;
  background: #098300 none repeat scroll 0% 0%;
}

.typewritter {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  text-align: center;
}

.typewritter h1 {
  margin-right: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 2px;
}

.typewritter > div > span {
  color: #29ac00;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.border-line {
  border: 2px solid black;
  width: 65%;
  margin: 30px 0;
}

.loading-screen {
  margin: 0 auto;
  margin-top: 25px;
}

.loading-screen div svg {
  color: #29ac00;
}

@media (min-width: 560px) {
  .typewritter {
    font-size: 2.5rem;
  }
  .trades {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
/*# sourceMappingURL=index.css.map */